# Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.DS_Store

# Backend
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/env/
backend/venv/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/.env
backend/uploads/

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment files
.env
.env.*
!.env.example

# Misc
*.log
.vercel
